header{
    height: 29px;
}

/*导航*/
.header_2{
    box-shadow: 0px 3px 55px -30px #001e39;
    background: #fff;
}
.header_2{
    width: 1220px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}
.header_2 ul a{
    color: #000000;
}
.header_2 ul a:hover{
    color: red;
    text-decoration: none;
}
.header_2>.nav1{
    position: absolute;
}
.header_2>.nav2{
    position: absolute;
    top: 20px;
    right: 30px;
}
.header_2>.logo{
    z-index: 2;
    position: absolute;
    top: 0px;
    border-bottom-left-radius: 140px;
    border-bottom-right-radius: 140px;
    box-shadow: 0px 3px 55px -30px #001e39;
    width:198px;
    height: 84px;
    text-align: center;
    left: calc( 50% - 76px );
    background: white;
}
.header_2>.logo a{
    display: inline-block;
    margin: 0 auto;
    width: 118px;
    height: 117px;
    padding: 0px;
}

/*位置地区*/
.center{
    width: 1220px;
    height: 100%;
    margin: 0 auto;
}
.center>.weizhi{
    width: 1220px;
    height: 60px;
    border: 1px solid #ff0;
    margin: 0 auto;
    line-height: 60px;
}
.weizhi>span{
    font-weight:500;
    font-size: 18px;
}
.weizhi>a{
    font-size: 14px;
    color: #000000;
}
.weizhi>a:hover{
    text-decoration: none;
    color: red;
}
.center>.xuanzhe{
    width: 1220px;
    height: 365px;
    margin: 0 auto;
}
.center>.xuanzhe ul li{
    height: 85px;
    display: inline-block;
    position: relative;
}
.center>.xuanzhe ul li div{
    height: 60px;
    position: absolute;
    top: 13px;
    left: 93px;
}
.center>.xuanzhe ul li div span{
    line-height: 45px;
}
.center>.xuanzhe ul li div>.yanse{
    width: 34px;
    height: 30px;
    background: #ff6542;
}
.center>.xuanzhe ul li a{
    color: #000000;
    padding-left:9px;

}
.center>.xuanzhe ul li>.jl{
    padding-left: 10px;
    font-size: 16px;
}
.center>.xuanzhe ul li a:hover{
    color: red;
    text-decoration: none;
}
/*优品推荐*/

.quality_1>p{
    color: #b9b9b9;
}
.quality{
    width: 100%;
    height: 542px;
    background: #ffffff;
}
.quality_1{
    width:100%;
    height: 100px;
    margin: 0 auto;
    border: 1px solid #ff0;
}
/*优品推荐广告图*/
.quality_2{
    width: 1220px;
    height: 412px;
    margin: 0 auto;
}
.quality>.quality_2>ul li{
    width: 228px;
    height: 358px;
    background: white;
    position: relative;
    overflow: hidden;
    border: 1px solid #eeeeee;
}
.quality>.quality_2>ul li .img_3{
    width: 228px;
    height: 195px;
}
.quality>.quality_2>ul li a>.dj{
    position: absolute;
    top: 7px;
    left: -21px;
    transform: rotate(-45deg);
    width: 80px;
    height: 25px;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    background-color: #EA5413;
}
.quality>.quality_2>ul li a:hover{
    text-decoration: none;
}
/*滑动过渡样式*/
.quality>.quality_2>ul li a>.red{
    height: 3px;
    background-color: #ea5413;
    width: 24px;
    margin: 14px 10px;
    transition: 0.5s;
}
.quality>.quality_2>ul li a:hover .red{
    width: 210px;
}
/*精品推荐文字样式*/
.quality>.quality_2>ul li a>.name span{
    font-size: 14px;
}
.quality>.quality_2>ul li a:hover{
    text-decoration: none;
}
.quality>.quality_2>ul li a>.price>span{
    font-size: 14px;
    font-weight: bold;
}
/*高度坍塌*/
.center .gao{
    clear: both;
}
/*中间图片内容*/
.content{
    width: 1220px;
    border: 1px solid #ff0;
    margin: 0 auto;
}
.content .row .col-3{
    margin-bottom: 30px;
}
.content .row a:hover{
    text-decoration: none;
}
.content .row .heat{
    font-size: 12px;
}
.content .row .number{
    font-size: 12px;
    color: red;
}
.content>.row .col-3{
    width: 312px;
    height: 365px;
}
.content>.row .col-3 .text{
    height: 145px;
}
.content .row a .card{
    width: 290px;
    height: 365px;
    overflow: hidden;
}
.content .row a .card>.img{
    width: 312px;
    height: 220px;
    overflow: hidden;
}
.content .row a .card>.img img{
    width: 312px;
    height: 220px;
    transition:all 1s;
}
.content .row a:hover>.card>.img img{
    transform: scale(1.1,1.1);
}
.content .row a .card:hover{
    border: 1px solid #EA5413;
}
/*分页样式*/

.fenye_2 .page-link{
    margin-right: 20px;
    border-color: #e5edf5;
    color: #000000;
}
/*连接样式*/
.lianjie{
    width: 100%;
    height: 250px;
    margin: 0 auto;
}
.lianjie .lianjie_1{
    width: 1220px;
    height: 105px;
    margin: 0 auto;
}
.lianjie .lianjie_1 ul li a{
    padding-left: 10px;
    color: #000000;
}
.lianjie .lianjie_1 ul li a:hover{
    color: #EA5413;
    text-decoration: none;
}